
<a href="/">首页</a>
<a href="/">新闻</a>
<a href="/">选手参数设置</a>
<a href="/">反馈</a>

<style>
    a{
        color: rgb(153, 0, 255);
        text-decoration: none;
        margin-right: 1em;
    }
    a:hover
</style>